:root {
  --color-background: #242424;
  --color-primary: #0a09038c;
  --color-secondary: #ff0000a6;
  --color-third: #ff840083;
  --color-fourth: #ffbf008c;
  --color-text: #FFEAAE;
}

:root {
  color-scheme: light dark;
  background-color: #242424;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--color-text);
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}