.quest-container {

}

.quest-item {
  cursor: pointer;
  background-color: var(--color-third);
  border: 0;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  user-select: none;
  padding-left: 10px;
}