/* Main container */
.route-container {
  
}



/* Header */

.task-list-header {
   margin-left: 5px;
  margin-right: 5px;
  display: flex;
  border-bottom: 2px dotted var(--color-secondary);
}

.task-list-header h4 {
  margin: 0;
  padding-left: 3px;
}

.route-col {
  width: 30%;
}



/* Tasks */

.step-container {
  height: 1000px;
  overflow-y: auto;
}

.drag-task-container {
  display: flex;
  cursor: move;
  background-color: var(--color-third);
  border: 0;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.step-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 3px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.button-container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 5px;
}

.step-button {
  cursor: pointer;
  font-size: 18px;
  background: none;
  border: none;
  color: var(--color-text);
}

.step-button:hover {
  color: var(--color-secondary);
}



/* Tasks types */

.Tile-class {
  background-color: #9a9fce;
}

.Travel-class {
  background-color: #9aceb0;
}

.Action-class {
  background-color: #ce9a9a;
}